<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Challenge!</title>
</head>
<body>
    <div align=center>
        <style> body{background-color: peachpuff; font-family: 'Courier New';}
        </style>
        <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/40784946_10217707930590409_196557541918900224_n.jpg?_nc_cat=0&oh=d3db251345adda6e0c7f75bb3e6a584a&oe=5C2CCB24" style="float: right; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" />
        <h1 align=center><strong>Introducing Me</strong></h1>
        <h2 align=center><strong>Hello my name is {{ name }}</strong></h2>
        <article align=center>NPM : {{ npm }}</article>
        <article></article>
        <article></article>
        <h2 align=center>About Me</h2>
        <article align=center>I am {{ age }} years old</article>
        <article align=center>I am an undergraduate student at Universitas Indonesia majoring in Computer Science</article>
        <article align=center>I like to listening to some music and watching some movie</article>
        <article></article>
        <h2 align=center>Experiences</h2>
        <article align=center>- Staff of Public Relation Open House Fasilkom 2017</article>
        <article align=center>- Intern at Public Relation Bureau BEM Fasilkom 2017</article>
        <article align=center>- HRD of Fundraising CGT Fasilkom 2018</article>
        <article align=center>- Staff of Art and Culture of BEM Fasilkom 2018</article>
        <article align=center>- Staff of Sponsorship COMPFEST X</article>
        <article align=center>- Vice Person in Charge Event of Open House Fasilkom 2018</article>
        <h2 align=center>Contact Info</h2>
        <article align=center>mail: janitra.ariena@ui.ac.id</article>
        <article align=center>line: janitraasp</article>
        <article align=center>instagram: janitraasp</article>
    </div>
    <h1 align=center><strong>Introducing My Friends</strong></h1>
    <style> body{background-color: skyblue; font-family: 'Courier New';}
    </style>
    <div align=left; style="width: 50%">
        <img src="https://bem.cs.ui.ac.id/staf/assets/2018/img/photo/1706021934.jpg" style="float: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" />
        <h2><strong>Alif Mahardhika</strong></h2>
        <article>NPM: 1706021934</article>
        <article>Date of Birth: 15 September 1999</article>
        <h2>About Him</h2>
        <article>He is an undergraduate student at Universitas Indonesia majoring in Information System</article>
        <article>We are in the same department at BEM Fasilkom</article>
        <article>He likes to code</article>
        <article></article>
        <h2>Contact Info</h2>
        <article>mail: alif.mahardhika@ui.ac.id</article>
        <article>line: alifmahardhika</article>
        <article>instagram: alifmahardhika</article>
    </div>
    <div align=right; style="width: 50%">
        <img src="https://78.media.tumblr.com/13b081688f74e76a5efbd86788b9e12d/tumblr_pel9vzSKI01wct16uo1_540.jpg" style="float: center; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" />
        <h2><strong>Yafonia Hutabarat</strong></h2>
        <article>NPM: 1706039521</article>
        <article>Date of Birth: 21 Maret 1999</article>
        <h2>About Her</h2>
        <article>She also an undergraduate student at Universitas Indonesia majoring in Computer Science</article>
        <article>We are in the same courtesy at Open House Fasilkom 2018</article>
        <article>She likes to sleep</article>
        <article></article>
        <h2>Contact Info</h2>
        <article>mail: yafonia.kristiani@ui.ac.id</article>
        <article>line: yafoniahutabarat</article>
        <article>instagram: yafonia</article>
    </div>
</body>

</html>
